.el-input-number--mini .el-input-number__decrease, .el-input-number--mini .el-input-number__increase{
  width:20px!important;
}
.el-input-number.is-controls-right .el-input__inner{
  padding-left: 10px!important;
  padding-right: 30px!important;
}